@import "../../../../src/styles/utils/_mixins.scss";
@import "../../../../src/styles/base/_variables.scss";

.wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    border-bottom: 1px solid rgb(201, 201, 201);
    z-index: 1000;
}

.container{
    @include flex-between;
    max-width: $max-width;
    margin: 0 auto;
    padding: 15px 0px;
}

.menu {
    @include flex-between;
    gap: 30px
}

.nav {
    @include flex-between;
    gap: 20px;

    & p:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

.buttons {
    @include flex-between;
    gap: 10px;
}

.burger {
    display: none;
    stroke: $primary-color;

    // path {
    //     stroke: $primary-color;
    // }
}

@media (max-width: 900px) {

    .nav {
        display: none;
    }

    .buttons {
        display: none;
    }

    .burger {
        display: flex;
    }
}